@font-face {
    font-family: charter;
    src: url(../fonts/charter-regular.otf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url(../fonts/charter-italic.otf);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url(../fonts/charter-bold.otf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: charter;
    src: url(../fonts/charter-bold-italic.otf);
    font-style: italic;
    font-weight: bold;
}

:root {
    font-size: 16px;
    --white30: white;
    --white20: #A5A3A5;
    --white10: #3A3539;
}

body {
    color: var(--white30);
    font-family: 'Nunito', sans-serif;
    background: #251F24;
    /*font-family: charter;*/
}

header {
    font-size: 14px;
    color: white;
}

header a {
    color: var(--white20);
    text-decoration: none;
}

header li {
    color: var(--white20);
}

header a:hover {
    color: var(--white30);
}

nav details summary {
    font-weight: bold;
}

h1 {
    font-size: 3.75rem;
    font-weight: normal;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
}

h3 {
    font-size: 1.5rem;
    font-weight: normal;
}

a {
    color: var(--white30);
}

p {
    color: var(--white20);
}

pre {
    background: var(--white10);
}

.hero {
    background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
    height: 350px;
}

.section-content {
    counter-reset: titleList;
}

.section-content h3 {
    counter-increment: titleList;
}

h3::before {
    content: counter(titleList, decimal)".";
}

h3::after {
    content: '';
    width: 80px;
    height: 4px;
    background: var(--white30);
    display: inline-block;
}
